
.day-by-day__list {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.day-by-day-li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding: 2px;
}
.image-day{
    display: block;
    text-align: center;
    
}
.humidity {
    margin: 10px;
}