:root {
    --whiteFF: #FFFFFF;
}

@font-face {
    font-family: 'NotoSansSyriacEastern';
    src: url(../fonts/Noto_Sans_Syriac_Eastern/NotoSansSyriacEastern-VariableFont_wght.ttf);
}



html {
    font-family: 'NotoSansSyriacEastern';
    font-size: 18px;
    font-weight: 400;
   
}

body {
    height: 100vh;
    background-image: url(../medias/img/clouds2.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    animation: backimage 240s  infinite forwards;
}

@keyframes backimage {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;   
    }
    100% {
        background-position: left;
    }
}

h1 {
    font-size: 100px;
    font-weight: 200;

}
h2 {
    font-size: 32px;
    font-weight: 600;
}


.color-white {
    color: var(--whiteFF);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  
}
.town,
.temp,
.description,
.wind-humidity {
    padding-top : 5%;
}
.wind-humidity {
    display: flex;
    flex-direction: row;
    font-size: 26px;
}
.wind,
.humidity {
    margin-left: 10px;
    margin-right: 10px;
}
