 .sun__container {
   width: fit-content;
} 
.sun__list {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.sun-li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    font-size: 16px;
}
.sun {
    font-size: 38px;
}



